<div class="mobile-menu" id="mobileMenu">
  <a href="index.html"              onclick="closeMobile()">Home</a>
  <a href="our_story.html"          onclick="closeMobile()">About</a>
  <a href="safeherbs-products.html" onclick="closeMobile()">Products</a>
  <a href="farms.html"              onclick="closeMobile()">Farms</a>
  <a href="quality.html"            onclick="closeMobile()">Quality</a>
  <a href="certificates.html"       onclick="closeMobile()">Certificates</a>
  <a href="societal.html"           onclick="closeMobile()">Societal Life</a>
  <a href="contactUs.html"          onclick="closeMobile()">Contact</a>
  <a href="societal.html" onclick="closeMobile()">Societal Life</a>
</div>