<div class="mobile-menu" id="mobileMenu">
    <a href="index.html" onclick="closeMobile()">Home</a>
    <a href="quality.html" onclick="closeMobile()">Quality</a>
    <a href="herbs.html" onclick="closeMobile()">Products</a>
    <a href="farms.html" onclick="closeMobile()">Farms</a>
    <a href="view" onclick="closeMobile()">Certificates</a>
    <a href="our_story.html" onclick="closeMobile()">Our Story</a>
    <a href="societal.html" onclick="closeMobile()">Social</a>
    <a href="contactUs.html" onclick="closeMobile()">Contact</a>
  </div>